[package]
name = "autojump"
version = "0.4.0"
authors = ["Wang Xuerui <git@xen0n.name>"]
description = "A Rust port and drop-in replacement of autojump"
repository = "https://github.com/xen0n/autojump-rs"
readme = "README.md"
license = "GPL-3.0+"
include = ["src/**/*.rs", "Cargo.toml"]
edition = "2018"


[profile.release]
lto = true


[features]
default = []
nightly = []


[dependencies]
atomicwrites = "0.2.5"
clap = "2"
regex = "1.4"
serde = "1.0.116"
serde_derive = "1.0.116"
strsim = "0.10"
dirs = "3.0"
